@import "../base/variables";

/*Inicio Footer*/
footer{
	background-color: $color-primario;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: $color-letras;
	line-height: 3em;
	flex-wrap: wrap;

	.container-datos-footer{
		.datos-footer{
			@media screen and (max-width: 480px){
				margin-left: 15%;
			
		}
		}

	}
	.container-logo-footer{
		.logo-footer{
			width: 15em;
			margin-top: 3em;

		}

	}
	.nav-footer{
		nav{
			ul{
				li{
					list-style: none;

					.item-footer{
						text-decoration: none;
						color: $color-letras;

					}
				}
			}
		}
		
	}

}

/*Fin Footer*/