@import "../base/variables";

footer{
    background-color: $color-primario;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $color-letras;
    line-height: 3em;
    flex-wrap: wrap;
    
    
}
.logo-footer{
    width: 15em;
    margin-top: 3em;
    
}
.item-footer{
    text-decoration: none;
    color: $color-letras;
    
    
}
li{
    list-style: none;
}

@media screen and (max-width: 480px){
      
    
    .datos-footer{
        margin-left: 15%;
    }
}
