@import "../base/variables";

/*Inicio de Header*/

.header-container{
	background-color: $color-letras;
	display: flex;
	justify-content: space-between;

	.header{
		width: 80%;
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 480px){
			width: 70%;
		   }
		@media screen and (min-width: 481px) and(max-width:2300px){ width: 80%;
		}

		.header-logo{
			display: flex;
			align-items: center;
			.logo{
				width: 40%;
				display: flex;
				justify-content: flex-start;

				@media screen and (max-width: 480px){
					width: 60%;
				}
				@media screen and (min-width: 481px) and(max-width:2300px){
					width: 60%;
				}
			}
		}
		.social{
			width: 2rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-right: 1rem;

			@media screen and (min-width: 481px) and(max-width:2300px){width: 50%}
		}
	}
}



/*Fin de Header*/

