@import "../base/variables"; 


.header-container{
        
    background-color: $color-letras;
    display: flex;
    justify-content: space-between;
    
}
.header{
    width: 80%;
    display: flex;
    justify-content: space-between;
  
    
   
    
}
.header-logo, .header-wp, .header-correo, .header-facebook, .header-insta{
    
    display: flex;
   align-items: center;
   
    
}

.logo{
    width: 40%;
    display: flex;
    justify-content: flex-start;
}
.social{
    width: 2rem;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
}



@media screen and (max-width: 480px){
    
    .barra{ width: 80%; display: grid; grid-template-columns: 1fr 1fr; grid-column-gap:5em ; }
    .header{ width: 70%;
    }
    .logo{
        width: 60%;
    }
    
}

@media screen and (min-width: 481px) and(max-width:2300px){
    .social {width: 50%}
    .barra{ width: 80%; display: grid; grid-template-columns: 1fr 1fr; grid-column-gap:5em ; }
    .header{ width: 80%;
    }
    .logo{
        width: 60%;
    }
    
}



