/* Inicio de estilo de proctos alquiler, venta y emprendimientos*/


.container-fotos {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	gap: 2em;
	margin-bottom: 2em;
	>a {
		text-align: center;
	}
	@media screen and (max-width: 480px){
      
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: auto;
        gap: 2em;
        margin-bottom: 2em;
    }
}

.foto-producto {
	width: 70%;
	&:hover {
		width: 80%;
	}
	@media screen and (min-width: 481px) and(max-width:2300px){
        width: 90%;
    }
}

/* Fin de estilo de proctos alquiler, venta y emprendimientos*/
