/* Inicio de estilo de proctos alquiler, venta y emprendimientos*/


.container-fotos {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	gap: 2em;
	margin-bottom: 2em;
	>a {
		text-align: center;
	}
	@media screen and (max-width: 480px){
      
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: auto;
        gap: 2em;
        margin-bottom: 2em;
    }
}

.foto-producto {
	width: 80%;
	transition: all 1s;
	&:hover {
		transform: scale(0.90);
	}
	
}

/* Fin de estilo de proctos alquiler, venta y emprendimientos*/
